<!DOCTYPE html>
<html lang="en" xlms:th="http://www.thymeleaf.org" xmlns:xlms="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>晃晃出品：全国现有确诊构成</title>
    <script type="text/javascript" src="echarts/echarts.min.js"></script>
</head>
<body>
<div id="main" style="width: 600px;height: 400px"></div>

<!--    在js中接收数据-->
<script th:inline="javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'));

    var str = [[${list}]];//接收数据

    // 指定图表的配置项和数据
    var option = {
        title: {
            text: '全国现有确诊构成'
        },
        tooltip:{
            trigger:"axis"   //每个点数值显示
        },
        series: [
            {
                type: 'pie',
                radius: '55%',
                center: ['40%', '50%'],
                data: JSON.parse(str)
            }
        ]
    };

    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
</script>
</body>
</html>